*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    background-color: #f9f9f9;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .greeting{
    font-size: 45px;
    font-weight: 700;
    color: #030303;
    margin-bottom: 100px;
    text-align: center;
}
.container .login-signup{
    display: flex;
    width: 180px;
    justify-content: space-between;
}
.container .login-signup button{
    background-color: #030303;
    color: #f9f9f9;
    width: 85px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
    border: solid 3px #030303;
    border-radius: 8px;
    cursor: pointer;
    transition: .05s;
}
.container .login-signup button:hover{
    background-color: transparent;
    color: #030303;
}
.container section{
    position: absolute;
}
.overlay{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 1231px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}
section.signup-active .overlay {
    opacity: 1;
    pointer-events: auto;
}
section.login-active .overlay {
    opacity: 1;
    pointer-events: auto;
}
.signup form{
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 300px;
    height: fit-content;
    background-color: #f9f9f9;
    padding: 15px 20px 15px 20px;
    border-radius: 15px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .08);
}
section.signup-active .signup form{
    opacity: 1;
    pointer-events: auto;
}
.signup .header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 25px;
    font-weight: 700;
    color: #b9b9b9;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.header i{
    font-size: 15px;
    cursor: pointer;
}
.signup input{
    height: 40px;
    width: 100%;
    background-color: #d8d8d8;
    border: none;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}
.signup .signup-btn{
    color: #f9f9f9;
    background-color: #030303;
    text-transform: uppercase;
    font-weight: 600;
    border: solid 3px #030303;
    cursor: pointer;
    transition: .05s;
}
.signup .signup-btn:hover{
    color: #030303;
    background-color: transparent;
}
.login form{
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 300px;
    height: fit-content;
    background-color: #f9f9f9;
    padding: 15px 20px 15px 20px;
    border-radius: 15px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .08);
}
section.login-active .login form{
    opacity: 1;
    pointer-events: auto;
}
.login .header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 25px;
    font-weight: 700;
    color: #b9b9b9;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.login input{
    height: 40px;
    width: 100%;
    background-color: #d8d8d8;
    border: none;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}
.login .login-btn{
    color: #f9f9f9;
    background-color: #030303;
    text-transform: uppercase;
    font-weight: 600;
    border: solid 3px #030303;
    cursor: pointer;
    transition: .05s;
}
.login .login-btn:hover{
    color: #030303;
    background-color: transparent;
}