<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Daily</title>
    <link rel="stylesheet" href="static/daily.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <section>
            <div class="uncompleted-item">
                <div>Uncompleted Task</div>
                <div onclick="myEnterFunction()" class="uncompleted-item-close-btn">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div id="uncompleted-item" class="uncompleted-item-content">
                </div>
            </div>
            <div class="create-item">
                <div>Create Task</div>
                <form class="create-form" id="cardForm" method="post" action="#">
                    <label for="title">Title</label><br>
                    <input id="title" name="title" type="text" required><br>
                    <label for="description">Description</label><br>
                    <input class="description" name="description" id="description" type="text"><br>
                    <label for="task-date">Date</label><br>
                    <input type="date" name="date" id="task-date" required><br>
                    <input class="btn" type="submit" value="Submit">
                </form>
                <button class="close-btn">Cancel</button>
            </div>
            <div class="finish-item">
                <div onclick="myCloseFunction()" class="close-item">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div>Task Finish</div>
                <div class="finish-task-btn">
                    <button id="showelementtrue" onclick="showElementTrue()">Completed</button>
                    <button id="showelementnot" onclick="showElementNot()">Not Completed</button>
                </div>
                <div id="finish-task-content" class="finish-task-content">
                    <div class="finish-task-content-text">Please upload proof that the assignment has been completed</div>
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <label for="myfile">Select a file:</label>
                        <input class="input-image" type="file" id="myfile" name="myfile"><br><br>
                        <input type="hidden" id="uniqueId" name="uniqueId" value="">
                        <div class="btn-finish-container">
                            <input class="submit-image" type="submit" value="Submit" required>
                        </div>
                    </form>
                </div>
                <div id="notcompleted-task-content" class="notcompleted-task-content">
                    <div class="finish-task-content-text">If this task is not completed, please deposit your fine in the following virtual account</div>
                    <div class="virtual-account">
                        <div class="va-title">Virtual Account Number</div>
                        <div class="va-number">0895334366859</div>
                    </div>
                    <form action=="/upload" method="post" enctype="multipart/form-data">
                        <label for="myfile">Select a file:</label>
                        <input class="input-image" type="file" id="myfile" name="myfile"><br><br>
                        <input type="hidden" id="uniqueId" name="uniqueId" value="">
                        <div class="btn-finish-container">
                            <input class="submit-image1" type="submit" value="Submit" required>
                        </div>
                    </form>
                </div>
            </div>
            <span class="overlay"></span>
        </section>
        <div onmouseover="main()" onmouseout="hide()" class="sidebar">
            <i class="fa-solid fa-bars"></i>
            <div id="barList" class="sidebar-list">
                <a href="/dashboard"><div onmouseover="setColor7()" onmouseout="unsetColor7()" class="my-list">
                    <i id="color7" class="fa-solid fa-table-columns"></i>
                    <div>Dashboard</div>
                </div></a>
                <a href="/daily"><div onmouseover="setColor()" onmouseout="unsetColor()" class="my-list">
                    <i id="color" class="fa-solid fa-calendar-day"></i>
                    <div>My Daily</div>
                </div></a>
                <div onmouseover="setColor1()" onmouseout="unsetColor1()" class="my-list">
                    <i id="color1" id="color" class="fa-solid fa-calendar-week"></i>
                    <div>My Weekly</div>
                </div>
                <div onmouseover="setColor2()" onmouseout="unsetColor2()" class="my-list">
                    <i id="color2" id="color" class="fa-solid fa-calendar-days"></i>
                    <div>My Monthly</div>
                </div>
                <a href="money"><div onmouseover="setColor3()" onmouseout="unsetColor3()" class="my-list">
                    <i id="color3" id="color" class="fa-solid fa-wallet"></i>
                    <div>My Money</div>
                </div></a>
                <div onmouseover="setColor4()" onmouseout="unsetColor4()" class="my-list">
                    <i id="color4" id="color" class="fa-solid fa-gift"></i>
                    <div>My Reward</div>
                </div>
            </div>
            <div id="account-list" class="sidebar-account">
                <div onmouseover="setColor5()" onmouseout="unsetColor5()" class="my-list">
                    <i id="color5" id="color" class="fa-solid fa-gear"></i>
                    <div>Setting</div>
                </div>
                <div onclick="confirmLogout()" onmouseover="setColor6()" onmouseout="unsetColor6()" class="my-list">
                    <i id="color6" id="color" class="fa-solid fa-right-from-bracket"></i>
                    <div>Logout</div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="header">
                <div class="header-left">
                    <i id="color" class="fa-solid fa-calendar-day"></i>
                    <div>My Daily</div>
                </div>
                <div class="header-right">
                    <div class="uncompleted">
                        <i class="fa-solid fa-square-xmark"></i>
                        <div id="uncompleted-count"></div>
                    </div>
                    <button class="show-createitem">
                        <i class="fa-solid fa-square-plus"></i>
                    </button>
                </div>
            </div>
            <div id="daylist" class="daylist">
            </div>
        </div>
    </div>
    <script>
        //Toggle the display of elements
        function main(){
            document.getElementById("barList").style.display = "block";
            document.getElementById("account-list").style.display = "block";
        }
        function hide(){
            document.getElementById("barList").style.display = "none";
            document.getElementById("account-list").style.display = "none";
        }

        //Functions to set and unset color for elements
        function setColor(){
            document.getElementById("color").style.color = "#cfcfcf";
        }
        function unsetColor(){
            document.getElementById("color").style.color = "#030303";
        }
        function setColor1(){
            document.getElementById("color1").style.color = "#cfcfcf";
        }
        function unsetColor1(){
            document.getElementById("color1").style.color = "#030303";
        }
        function setColor2(){
            document.getElementById("color2").style.color = "#cfcfcf";
        }
        function unsetColor2(){
            document.getElementById("color2").style.color = "#030303";
        }
        function setColor3(){
            document.getElementById("color3").style.color = "#cfcfcf";
        }
        function unsetColor3(){
            document.getElementById("color3").style.color = "#030303";
        }
        function setColor4(){
            document.getElementById("color4").style.color = "#cfcfcf";
        }
        function unsetColor4(){
            document.getElementById("color4").style.color = "#030303";
        }
        function setColor5(){
            document.getElementById("color5").style.color = "#cfcfcf";
        }
        function unsetColor5(){
            document.getElementById("color5").style.color = "#030303";
        }
        function setColor6(){
            document.getElementById("color6").style.color = "#cfcfcf";
        }
        function unsetColor6(){
            document.getElementById("color6").style.color = "#030303";
        }
        function setColor7(){
            document.getElementById("color7").style.color = "#cfcfcf";
        }
        function unsetColor7(){
            document.getElementById("color7").style.color = "#030303";
        }

        //Popup related code
        const popupContainer = document.querySelector("section");
        const overlay = document.querySelector(".overlay");
        const showCreateItem = document.querySelector(".show-createitem");
        const closeBtn = document.querySelector(".close-btn");
        const submitBtn = document.querySelector(".btn");

        showCreateItem.addEventListener("click", () => popupContainer.classList.add("active"));
        closeBtn.addEventListener("click", () => popupContainer.classList.remove("active"));
        submitBtn.addEventListener("click", () => popupContainer.classList.remove("active"));


        async function getDailyTasks() {
            try{
                const response = await fetch('/carddaily', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });
                
                if (!response.ok) {
                    throw new Error('Error retrieving daily tasks: ${response.statusText}');
                }

                const data = await response.json();
                return data.dailyTasks;
            } catch (error) {
                console.error('Error:', error);
                return [];
            }
        }

        async function displayDailyTasks() {
            const dailyTasks = await getDailyTasks();

            const dayList = document.getElementById('daylist');
            dayList.innerHTML = '';

            const currentDate = new Date();
            const dateString = currentDate.toISOString().split('T')[0];

            const cards = dailyTasks
                .map(task => {
                    const card = document.createElement('div');
                    card.className = 'card';
                    var fromServerDate = task.date;
                    var serverDate = new Date(fromServerDate);
                    var cardDate = serverDate.toISOString().split('T')[0];
                    var cardTitle = task.title;
                    var cardDescription = task.description;
                    var uniqueId = task.uniqueId;
                    var nameday = task.nameday;
                    card.id = 'card-' + uniqueId;
                    card.innerHTML = '<div class="title-day">'+ nameday +'</div><div class="date">'+ cardDate +'</div><div class="title">Title</div><div class="titlediv">'+ cardTitle +'</div><div class="title">Description</div><div class="description">'+ cardDescription +'</div><div class="task-card-btn"><i onclick="myDeleteFunction(\'' + card.id + '\')" id="delete-task" class="fa-solid fa-trash-can"></i><button onclick="readProperty(\'' + card.id + '\')" class="finish-btn">Finish</button></div>';
                    return {card, cardDate};
                })
                .sort((a, b) => new Date(a.cardDate) - new Date(b.cardDate));
            
            cards.forEach(({ card }) => dayList.appendChild(card));

            // Move cards to uncompleted after they are appended to dayList
            const uncompletedItemContent = document.querySelector('.uncompleted-item-content');
            uncompletedItemContent.innerHTML = '';
            const moveCardIds = new Set();
            cards.forEach(({ card, cardDate }) => {
                const cardDates = new Date(cardDate);
                const cardDateString = cardDates.toISOString().split('T')[0];
                const currentDate = new Date().toISOString().split('T')[0];

                if (!moveCardIds.has(card.id) && cardDateString < currentDate) {
                    uncompletedItemContent.appendChild(card);
                    moveCardIds.add(card.id);
                }
            });

            var parentElement = document.querySelector('.uncompleted-item-content');
            function updateCardCount() {
                var cardCount = parentElement.querySelectorAll('.card').length;
                document.getElementById('uncompleted-count').innerHTML = cardCount;
            }

            updateCardCount();

            var observer = new MutationObserver(updateCardCount);
            var observerConfig = { childList: true, subtree: true };
            observer.observe(parentElement, observerConfig);

            const popupTaskUncompeted = document.querySelector("section");
            document.body.addEventListener("click", function (event) {
                if (event.target.classList.contains("uncompleted")) {
                    popupTaskUncompeted.classList.toggle("false");
                }
            });

            function myEnterFunction() {
                popupTaskUncompeted.classList.remove("false");
            }
        }

        document.addEventListener('DOMContentLoaded', displayDailyTasks);


        async function sendDailyTaskToServer(title, description, date, uniqueId, nameday) {
            try {
                const response = await fetch('/dailytask', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        title: title,
                        description: description,
                        date: date,
                        uniqueId: uniqueId,
                        nameday: nameday,
                    }),
                });

                const contentType = response.headers.get('content-type');
                if (contentType && contentType.includes('application/json')) {
                    const data = await response.json();
                    console.log('Server response:', data);
                } else {
                    console.error('Unexpected response type:', contentType);
                }
            } catch (error) {
                console.error('Error sending data to server:', error);

                if (error instanceof TypeError || error.name === 'TypeError') {
                    console.error('Network error. Unable to fetch data from the server.');
                } else if (error instanceof SyntaxError || error.name === 'SyntaxError') {
                    console.error('Error parsing JSON from the server response.');
                } else {
                    console.error('Other error:', error);
                }
            }
        }


        document.addEventListener('DOMContentLoaded', function() {
            displayDailyTasks();

            document.getElementById('cardForm').addEventListener('submit', function(event) {
                event.preventDefault();

                var title = document.getElementById('title').value;
                var description = document.getElementById('description').value;
                var date = document.getElementById('task-date').value;

                const d = new Date(date);
                const dateString = d.toISOString().split('T')[0];

                function generateRandomId() {
                    const alphabet = 'abcdefghijklmnopqrstuvwxyz';
                    const getRandomLetter = () => alphabet[Math.floor(Math.random() * alphabet.length)];
                    const getRandomNumber = () => Math.floor(Math.random() * 10);

                    const randomId = getRandomNumber() + getRandomLetter() + getRandomLetter();
                    return randomId;
                }
                //Function to get day name
                function getDayName(date) {
                    var daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                    var dayIndex = date.getDay();
                    return daysOfWeek[dayIndex];
                }

                var card = document.createElement('div');
                card.className = 'card';
                var uniqueId = generateRandomId();
                var nameday = getDayName(d)
                card.id = 'card-' + uniqueId;
                card.innerHTML = '<div class="title-day">' + nameday + '</div><div class="date">' + date + '</div><div class="title">Title</div><div class="titlediv">' + title + '</div><div class="title">Description</div><div class="description">' + description + '</div><div class="task-card-btn"><i onclick="myDeleteFunction(\'' + card.id + '\')" id="delete-task" class="fa-solid fa-trash-can"></i><button onclick="readProperty(\'' + card.id + '\')" class="finish-btn">Finish</button></div>';

                var dayList = document.getElementById('daylist');
                var cards = dayList.getElementsByClassName('card');
                var insertIndex = 0;

                for (var i = 0; i < cards.length; i++) {
                    var cardDate = new Date(cards[i].getElementsByClassName('date')[0].innerText);
                    if (cardDate.toISOString().split('T')[0] > dateString) {
                        break;
                    }
                    insertIndex++;
                }

                if (insertIndex === cards.length) {
                    dayList.appendChild(card);
                } else {
                    dayList.insertBefore(card, cards[insertIndex]);
                }

                for (var i = 0; i < cards.length; i++) {
                    var cardDates = new Date(cards[i].getElementsByClassName('date')[0].innerText);
                    var cardDateString = cardDates.toISOString().split('T')[0];
                    var currentDate = new Date().toISOString().split('T')[0];
                    if (cardDateString < currentDate) {
                        document.querySelector('.uncompleted-item-content').appendChild(cards[i]);
                    } else {
                        if (cardDates >= d) {
                            break;
                        }
                        insertIndex++;
                    }
                }

                document.getElementById('title').value = '';
                document.getElementById('description').value = '';
                document.getElementById('task-date').value = '';

                sendDailyTaskToServer(title, description, date, uniqueId, nameday);
            });
        });


        //Functions to show and hide elements based on completion status
        function showElementTrue() {
            document.getElementById('finish-task-content').style.display = "block";
            document.getElementById('notcompleted-task-content').style.display = "none";
            document.getElementById('showelementtrue').style.backgroundColor = "#030303";
            document.getElementById('showelementtrue').style.color = "#f9f9f9";
            document.getElementById('showelementnot').style.backgroundColor = "transparent";
            document.getElementById('showelementnot').style.color = "#030303";
        }
        function showElementNot() {
            document.getElementById('finish-task-content').style.display = "none";
            document.getElementById('notcompleted-task-content').style.display = "block";
            document.getElementById('showelementtrue').style.backgroundColor = "transparent";
            document.getElementById('showelementtrue').style.color = "#030303";
            document.getElementById('showelementnot').style.backgroundColor = "#030303";
            document.getElementById('showelementnot').style.color = "#f9f9f9";
        }

        //Functions related to finishing a task popup
        const popupTaskFinish = document.querySelector("section");
        document.body.addEventListener("click", function(event) {
            if (event.target.classList.contains("finish-btn")) {
                popupTaskFinish.classList.toggle("true");
            }
        });

        const submitBtnFinish = document.querySelector(".submit-image");
        const submitBtnFinish1 = document.querySelector(".submit-image1");

        function myCloseFunction() {
            popupTaskFinish.classList.remove("true");
        }
        submitBtnFinish.addEventListener("click", () => popupTaskFinish.classList.remove("true"));
        submitBtnFinish1.addEventListener("click", () => popupTaskFinish.classList.remove("true"));

        // Function to delete a task
        async function myDeleteFunction(elementId) {
            var confirmation = window.confirm("Are you sure you want to remove this task?");
            if (confirmation) {
                const elementToRemove = document.getElementById(elementId);
                if (elementToRemove) {
                    // Get the uniqueId from the element's ID
                    const uniqueId = elementId.split('-')[1];
                    
                    // Make an asynchronous request to delete the task from the server
                    await deleteTaskFromServer(uniqueId);

                    // Remove the element from the DOM
                    elementToRemove.remove();
                }
            }
        }

        // Function to send a request to delete the task from the server
        async function deleteTaskFromServer(uniqueId) {
            try {
                const response = await fetch(`/dailytask/${uniqueId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                const contentType = response.headers.get('content-type');
                if (contentType && contentType.includes('application/json')) {
                    const data = await response.json();
                    console.log('Server response:', data);
                } else {
                    console.error('Unexpected response type:', contentType);
                }
            } catch (error) {
                console.error('Error deleting data from the server:', error);
            }
        }

        //Function related to displaying uncompleted tasks
        const popupTaskUncompeted = document.querySelector("section");
        document.body.addEventListener("click", function(event) {
            if (event.target.classList.contains("uncompleted")) {
                popupTaskUncompeted.classList.toggle("false");
            }
        });
        function myEnterFunction() {
            popupTaskUncompeted.classList.remove("false");
        }

        document.addEventListener('DOMContentLoaded', function (){
        var parentElement = document.querySelector('.uncompleted-item-content');
        function updateCardCount() {
            var cardCount = parentElement.querySelectorAll('.card').length;
            document.getElementById('uncompleted-count').innerHTML = cardCount;
        }
        updateCardCount();
        var observer = new MutationObserver(function (mutations) {
            updateCardCount();
        });
        var observerConfig = { childList: true, subtree: true };
        observer.observe(parentElement, observerConfig);
        });

        var globalCardElementId = null;

        function readProperty(elementId) {
            var cardElement = document.getElementById(elementId);
            cardElementId = cardElement.id;
            var idSplit = cardElementId.split('-')[1];
            globalCardElementId = idSplit;
            document.getElementById("uniqueId").value = globalCardElementId;
        }

        function confirmLogout() {
            const logoutConfirmed = window.confirm("Are you sure you want to logout?");
            if (logoutConfirmed) {
                fetch("/logout", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({}),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = "/";
                    } else {
                        alert("Logout failed!");
                    }
                })
                .catch(error => {
                    console.error("Error during logout:", error);
                    alert("Logout failed");
                });
            } else {
                window.location.href = "/daily";
            }
        }
    </script>
</body>
</html>