*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    background-color: #f9f9f9;
}
.container{
    height: 100vh;
    display: flex;
}
.container section{
    position: absolute;
}
.overlay{
    position: absolute;
    width: 1232px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
}
section.active .overlay{
    z-index: 50;
    pointer-events: auto;
    opacity: 1;
}
section.true .overlay{
    z-index: 50;
    pointer-events: auto;
    opacity: 1;
}
section.false .overlay{
    z-index: 50;
    pointer-events: auto;
    opacity: 1;
}
.uncompleted-item{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(25%, 10%);
    width: 900px;
    height: 500px;
    color: #b9b9b9;
    background-color: #f9f9f9;
    font-size: 25px;
    font-weight: 600;
    border-radius: 15px;
    padding: 15px 15px 65px 15px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .08);
}
section.false .uncompleted-item{
    opacity: 1;
    pointer-events: auto;
    z-index: 100;
}
.uncompleted-item .uncompleted-item-close-btn{
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 200;
}
.uncompleted-item-close-btn i{
    font-size: 18px;
}
.uncompleted-item .uncompleted-item-content{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
.uncompleted-item-content .card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: calc(100% / 3 - 50px);
    max-width: 200px;
    height: fit-content;
    padding: 10px 10px 10px 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-right: 50px;
    margin-bottom: 20px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .08);
    overflow-wrap: break-word;
}
.card i{
    color: #030303;
}
.create-item{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(150%, 25%);
    width: 300px;
    color: #b9b9b9;
    background-color: #f9f9f9;
    font-size: 25px;
    font-weight: 600;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .08);
}
section.active .create-item{
    z-index: 100;
    opacity: 1;
    pointer-events: auto;
}
.create-item form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
}
.create-item form label{
    margin-bottom: -10px;
}
.create-item form input{
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    background-color: #d8d8d8;
    color: #030303;
    border: none;
    font-size: 14px;
    font-weight: 600;
}
.create-item form input.btn{
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    background-color: #030303;
    color: #f9f9f9;
    transition: .05s;
    cursor: pointer;
    transition: .05s;
}
.create-item form input.btn:hover{
    background-color: transparent;
    border: solid 3px #030303;
    color: #030303;
}
.create-item .close-btn{
    position: absolute;
    top: 324px;
    right: 100px;
    width: 80px;
    height: 40px;
    font-weight: 600;
    background-color: #030303;
    color: #f9f9f9;
    font-size: 14px;
    border-radius: 8px;
    transition: .05s;
    cursor: pointer;
}
.close-btn:hover{
    background-color: transparent;
    border: solid 3px #030303;
    color: #030303;
}
.finish-item{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(150%, 35%);
    width: 300px;
    color: #b9b9b9;
    background-color: #f9f9f9;
    font-size: 25px;
    font-weight: 600;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .08);
}
section.true .finish-item{
    opacity: 1;
    pointer-events: auto;
    z-index: 100;
}
.finish-item .close-item{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    cursor: pointer;
}
.finish-item .finish-task-btn{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: 20px;
}
.finish-task-btn button{
    width: calc(100% / 2 - 5px);
    border: solid 3px #030303;
    background-color: transparent;
    border-radius: 8px;
    color: #030303;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .05s;
}
.finish-task-btn button:hover{
    color: #f9f9f9;
    background-color: #030303;
}
.finish-item .finish-task-content{
    display: block;
}
.finish-item .notcompleted-task-content{
    display: none;
}
.finish-item .finish-task-content-text{
    color: #030303;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}
.virtual-account .va-title{
    font-size: 15px;
    color: #030303;
    font-weight: 600;
    margin-top: 20px;
}
.virtual-account .va-number{
    font-size: 15px;
    color: #b9b9b9;
}
.finish-task-content form{
    margin-top: 10px;
}
.notcompleted-task-content form{
    margin-top: 10px;
}
.finish-task-content label{
    color: #030303;
    font-size: 12px;
    font-weight: 600;
}
.notcompleted-task-content label{
    color: #030303;
    font-size: 12px;
    font-weight: 600;
}
.finish-task-content form .input-image{
    font-size: 12px;
    color: #030303;
}
.notcompleted-task-content form .input-image{
    font-size: 12px;
    color: #030303;
}
.finish-task-content form .submit-image{
    font-size: 15px;
    font-weight: 600;
    color: #f9f9f9;
    background-color: #030303;
    border: solid 3px #f9f9f9;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: .05s;
}
.finish-task-content form .submit-image:hover{
    background-color: transparent;
    border: solid 3px #030303;
    color: #030303;
}
.notcompleted-task-content form .submit-image1{
    font-size: 15px;
    font-weight: 600;
    color: #f9f9f9;
    background-color: #030303;
    border: solid 3px #f9f9f9;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: .05s;
}
.notcompleted-task-content form .submit-image1:hover{
    background-color: transparent;
    border: solid 3px #030303;
    color: #030303;
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75px;
    height: 100vh;
    padding: 20px 20px 20px 25px;
    color: #030303;
}
.sidebar a{
    text-decoration: none;
    color: #030303;
}
.sidebar:hover{
    align-items: flex-start;
    width: 300px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .08);
}
.sidebar i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #030303;
    font-size: 22px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: solid 2px #030303;
    border-radius: 50%;
}
.sidebar .sidebar-list{
    display: none;
    position: relative;
    margin-top: 25px;
    line-height: 45px;
    width: 100%;
    border-bottom: solid 1px #d8d8d8;
}
.sidebar .sidebar-list .my-list i{
    font-size: 15px;
    margin-right: 10px;
    border: none;
    color: #030303;
}
.sidebar .sidebar-list .my-list{
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 8px;
    transition: .05s;
}
.sidebar-list .my-list:hover{
    color: #cfcfcf;
    background-color: #030303;
}
.sidebar .sidebar-account{
    display: none;
    position: relative;
    margin-top: 25px;
    line-height: 45px;
    width: 100%;
}
.sidebar .sidebar-account .my-list i{
    font-size: 15px;
    margin-right: 10px;
    border: none;
    color: #030303;
}
.sidebar .sidebar-account .my-list{
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 8px;
    transition: .05s;
}
.sidebar-account .my-list:hover{
    color: #cfcfcf;
    background-color: #030303;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0px 150px 20px 150px;
}
.content .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 15px 25px;
    max-width: 50%;
    margin-top: 20px;
    border-radius: 10rem;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .08);
    height: 50px;
}
.content .header i{
    margin-right: 10px;
}
.header .header-left{
    display: flex;
    color: #030303;
    font-size: 20px;
    font-weight: 600;
}
.header .header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right i{
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    border-radius: 50%;
    transition: .05s;
}
.header-right i:hover{
    background-color: #b9b9b9;
}
.header-right .show-createitem{
    width: 25px;
    border: none;
    background-color: transparent;
}
.show-createitem i{
    font-size: 18px;
}
.header-right .uncompleted{
    display: flex;
    color: #b9b9b9;
    font-size: 15px;
    font-weight: 600;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    margin-right: 10px;
    background-color: #d8d8d8;
    padding: 2px 5px 2px 5px;
    cursor: pointer;
    transition: .05s;
}
.uncompleted:hover{
    color: #d8d8d8;
    background-color: #b9b9b9;
}
.uncompleted i{
    font-size: 18px;
    color: #030303;
    padding: 0;
}
.daylist{
    width: 100%;
    margin-top: 50px;
    display: flex;
    overflow-y: auto;;
    flex-wrap: wrap;
}
.daylist .card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: calc(100% / 3 - 50px);
    max-width: 200px;
    height: fit-content;
    padding: 10px 10px 10px 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-right: 50px;
    margin-bottom: 20px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .08);
    overflow-wrap: break-word;
}
.card .title-day{
    color: #030303;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}
.card .date{
    color: #b9b9b9;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
}
.card .title{
    color: #b9b9b9;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.card .titlediv,
.card .description{
    color: #030303;
    margin-bottom: 10px;
}
.card .titlediv{
    font-size: 15px;
    font-weight: 600;
}
.card .description{
    font-size: 14px;
    font-weight: 600;
}
.task-card-btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}
.task-card-btn i{
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    transition: .05s;
}
.task-card-btn i:hover{
    scale: 1.1;
}
.task-card-btn .finish-btn{
    color: #f9f9f9;
    background-color: #030303;
    border: solid 3px #f9f9f9;
    font-size: 15px;
    font-weight: 600;
    width: 75px;
    padding: 8px 5px 8px 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: .05s;
}
.task-card-btn .finish-btn:hover{
    background-color: transparent;
    border: solid 3px #030303;
    color: #030303;
}