*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    background-color: #f9f9f9;
}
.container{
    height: 100vh;
    display: flex;
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75px;
    height: 100vh;
    padding: 20px 20px 20px 25px;
    color: #030303;
}
.sidebar a{
    color: #030303;
}
.sidebar:hover{
    align-items: flex-start;
    width: 300px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .08);
}
.sidebar i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #030303;
    font-size: 22px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: solid 2px #030303;
    border-radius: 50%;
}
.sidebar .sidebar-list{
    display: none;
    position: relative;
    margin-top: 25px;
    line-height: 45px;
    width: 100%;
    border-bottom: solid 1px #d8d8d8;
}
.sidebar .sidebar-list .my-list i{
    font-size: 15px;
    margin-right: 10px;
    border: none;
    color: #030303;
}
.sidebar .sidebar-list .my-list{
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 8px;
}
.sidebar-list .my-list:hover{
    color: #cfcfcf;
    background-color: #030303;
}
.sidebar .sidebar-account{
    display: none;
    position: relative;
    margin-top: 25px;
    line-height: 45px;
    width: 100%;
}
.sidebar .sidebar-account .my-list i{
    font-size: 15px;
    margin-right: 10px;
    border: none;
    color: #030303;
}
.sidebar .sidebar-account .my-list{
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 8px;
}
.sidebar-account .my-list:hover{
    color: #cfcfcf;
    background-color: #030303;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0px 150px 20px 150px;
}
.content .header{
    padding: 15px 25px 15px 25px;
    max-width: 50%;
    margin-top: 20px;
    border-radius: 10rem;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .08);
    height: 50px;
}
.header .header-left{
    display: flex;
    color: #030303;
    font-size: 20px;
    font-weight: 600;
}
.content .header i{
    margin-right: 10px;
}
.content .content-container{
    display: flex;
    width: 100%;
    height: 100hv;
    margin-top: 50px;
}
.content-container .card-container{
    display: flex;
    width: 75%;
}
.card-container .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    background-color: #f9f9f9;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .08);
    height: 200px;
    border-radius: 15px;
}
.card .header-card{
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.card .balance,
.card .deposite,
.card .withdraw{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}
#balance{
    width: 100%;
    height: 35px;
    padding: 5px 5px 5px;
    color: #030303;
    background-color: #d8d8d8;
    border: none;
    border-radius: 8px;
    text-align: center;
}
.balance .rupiah,
.deposite .rupiah,
.withdraw .rupiah{
    font-size: 25px;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #b9b9b9;
}
.balance .reset-btn{
    padding: 5px 15px 5px 15px;
    background-color: #030303;
    border: solid 3px #030303;
    border-radius: 8px;
    color: #f9f9f9;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    transition: .05s;
}
.balance .reset-btn:hover{
    color: #030303;
    background-color: transparent;
}
.submit-deposite-btn,
.submit-withdraw-btn{
    padding: 5px 10px 5px 10px;
    background-color: #030303;
    border: solid 3px #030303;
    border-radius: 8px;
    color: #f9f9f9;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    transition: .05s;
}
.submit-deposite-btn:hover,
.submit-withdraw-btn:hover{
    color: #030303;
    background-color: transparent;
}
.header-card i{
    margin-right: 10px;
}
.input-money{
    outline: none;
    border: none;
    background-color: #d8d8d8;
    color: #030303;
    height: 35px;
    padding: 5px 5px 5px 5px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
}
.content-container .history-container{
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    width: 25%;
    height: 450px;
    margin-left: 15px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .08);
    overflow-y: auto;
}
.history-container .header-history{
    width: 100%;
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 15px;
    border-bottom: solid 2px #030303;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}
.header-history i{
    margin-right: 5px;
    cursor: pointer;
}
.history-log{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

}
.history-log .log{
    font-size: 12px;
    font-weight: 600;
    color: #030303;
    width: 100%;
    background-color: #b9b9b9;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    margin-bottom: 5px;
}
.log .date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date-container .date-log{
    font-size: 14px;
}
.date-container .time-log{
    font-size: 12px;
}